<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT시스템응용 8조</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
   
</head>
<body>
    <header class="top-header">
        <a href="/" class="logo">IoT시스템응용 8조</a>
    </header>
    
    <div class="container">
        <p class="rfid-label">RFID</p>
        <a href="/logs" class="btn">접속 기록</a>
    </div>
</body>
</html>
