<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT시스템응용 8조</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" href="../static/index.css"> -->
</head>
<body>
    <header class="top-header">
        <a href="/" class="logo">IoT시스템응용 8조</a>
    </header>
    
    <div class="container">
        <div class="section">
            <p class="section-label">접속 기록</p>
            <a href="/logs" class="btn">확인</a>
        </div>
        
        <div class="section">
            <p class="section-label">사진</p>
            <a href="/photos" class="btn">확인</a>
        </div>
        
        <div class="section">
            <p class="section-label">카메라</p>
            <a href="/camera" class="btn">확인</a>
        </div>
    </div>
</body>
</html>
